*{
    margin: 0;
    padding: 0;
}
#nav {
    width: 130px;
    height: 400px;
    position:absolute;;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    margin:auto;
}
#nav li {
    list-style:none;
    position:absolute;
    transform-origin:25px 375px;
    box-shadow:2px 2px 20px #000;
    transition:1s;
}
body{
    background: #000;
}