html, body {
    position: relative;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width:100%;
    height:100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    right:50%;
   left:auto;
    margin-left:-13.5px;
    top:auto;
    bottom:0;
    transform: rotate(90deg);

}
/*s1 第一屏的样式*/
.s1,.s2,.s3,.s4{
    background:url("../img/bj.png");
    height: 100%;

}
.s1 head img{
    position: relative;
}
.s1 .header img:nth-of-type(1) {
    width: 30px;
    position: absolute;
    left: 58px;
    top: 129px;
}
.s1 .header img:nth-of-type(2) {
    width: 60px;
    position: absolute;
    left: 286px;
    top: 99px;
}

.s1 .header img:nth-of-type(3) {
    width: 50px;
    position: absolute;
    left: 50px;
    top: 432px;
}

.s1 .header img:nth-of-type(4) {
    width: 50px;
    position: absolute;
    left: 291px;
    top: 414px;

}

.s1 .header img:nth-of-type(5) {
    width:70%;
    position: absolute;
    left:50%;
    top:25%;
    margin-left:-35%;
}
/*第一屏文字部分*/
.s1 .main{
    position:absolute;
    top:34%;

}
.s1 .main p{
    font-weight: 900;
}
.s1 .main img:nth-of-type(1){
    width:50%;
}
.s1 .main img:nth-of-type(2){
    width:80%;

}



.s1 .main .img9{
    background: url("../img/9.png");
    width: 207px;
    height: 24px;
    margin:auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;;
    background-size: contain;


}
/*第一屏footer*/

.s1 .footer{
    width:100%;
    position:absolute;
    top:70%;

    }
.s1 .footer p{
    color: #05b6a4;
    font-weight: bold;
}
.s1 .footer img{
    width: 100%;
    height:70px;

}
.s1 .footer img:nth-of-type(1){
    position:absolute; left:50px; top:130px

}
.s1 .footer img:nth-of-type(2){
    position:absolute;right:30px; top:130px

}

/*第二屏的样式*/
.s2{
    color: #00f8ca;
}
.s2 h2{
    font-size: 26px;
    position: relative;
    top:12%;
}
.s2 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}
.s2 h2::after,
.s2 h2::before{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s2 h2::after{
    background: url("../img/13.png");
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top:0;
}
.s2 h2::before{
    background: url("../img/14.png");
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}
.s2 div img{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s2 div{
    width: 80%;
    height: 57%;
    position: absolute;
    top: 25%;
    left:50%;
    margin-left: -40%;
}

.s2 div p{
    text-align: left;
    font-size: 14px;
    padding-left:10% ;
    padding-right:10% ;
    margin-bottom: 10px;

}

.s2 div p {
text-align: left;
padding-left: 10%;
padding-right: 10%;
font-size: 14px;
line-height: 1.5em;
margin-bottom: 10px;
}

.s2 div p:nth-of-type(1) {
padding-top: 20px;
}

.s2 div span {
/*渐变色*/
background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
width: 120px;
height: 25px;
border-radius: 10px;
color: #000000;
font-size: 14px;
font-weight: bold;
line-height: 25px;
display: inline-block;
position: absolute;
bottom: -10px;
left: 50%;
margin-left: -60px;
}

#mp3Btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 4px solid #292929;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    transform: rotateZ(0deg);
    animation: mp3key 4s infinite linear running;
    /*一直执行*/
    /*animation-iteration-count: infinite;*/
    /*匀速执行*/
    /*animation-timing-function:linear;*/
    /*默认运行动画*/
    /*animation-play-state:running;*/
}

@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.swiper-button-next {
    left: 50%;
    right: auto;
    top: auto;
    bottom: 5%;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);}

#mp3Btn img {
    width: 15px;
}


/*第三屏样式*/

.s3{
    color: #00f8ca;
}
.s3 h2{
    font-size: 26px;
    position: relative;
    top:12%;
}
.s3 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}
.s3 h2::after,.s3 h2::before{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s3 h2::after{
    background: url("../img/13.png");
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top:0;
}
.s3 h2::before{
    background: url("../img/14.png");
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}
.s3 p{
    font-weight :bold;
}
.p4{
    position:absolute;
    top:42%;
    left:33%;
    background:url("../img/da.png");
    width:130px;
    height:130px;
    font-size:30px;
    line-height:126px;
    background-size: contain;
}
.s3 .p1,.p2,.p3,.p5,.p6,.p7{
    background:url("../img/xiao.png");
    width: 62px;
    height: 62px;
    font-size: 20px;
    line-height:60px;;
    background-size: contain;
}
.p1{
    position: absolute;
    top: 30%;
    left:23%;
}
.p2{
    position: absolute;
    top: 30%;
    left: 61%;
}
.p3{
    position: absolute;
    top: 47%;
    left: 7%;
}
.p5{
    position: absolute;
    top: 47%;
    left: 77%;
}
.p6{
    position: absolute;
    top: 66%;
    left: 21%;
}
.p7{
    position: absolute;
    top: 66%;
    left: 59%;
}

.p8{font-weight:normal;
    position:absolute;
    font-size: 14px;
    top: 82%;
    left: 18%;
}
.p9{font-weight:normal;
    position: absolute;
    font-size: 14px;
    top: 85%;
    left: 18%;
}
.xian{
    border-left:2px solid #00f8ca;
    height: 40px;
    position: absolute;
    top: 82%;
    left: 12%;
}
.s4{
    color: #00f8ca;
}
.s4 h2{
    font-size: 26px;
    position: relative;
    top:12%;
}
.s4 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}
.s4 h2::after,
.s4 h2::before{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s4 h2::after{
    background: url("../img/13.png");
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top:0;
}
.s4 h2::before{
    background: url("../img/14.png");
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}
.t1{
    width: 316px;
    height: 414px;
    position: absolute;
    top: 24%;
    left: 9%;
}
.t2 img,.t3 img{
    width:45px;
    height:45px;
}
.t2{
    width: 100px;
    height: 45px;

    position:absolute;
    top: 26%;
    left: 23%;

}
.t2 img{
    margin-left:-71%;
}
.t2 p{
    margin-top: -40%;
    margin-left: 23%;
}
.t3{
    width: 100px;
    height: 45px;
    position:absolute;
    top: 26%;
    left: 57%;
}
.t3 img{
    margin-left:-71%;
}
.t3 p{
    margin-top: -40%;
    margin-left: 23%;
    color: #00ecfc;
}
.main1{
    width:305px;
    height:63px;

    position: absolute;
    top: 35%;
    left: 9%;
}
.main1 span{
    color: #ffffff;
}
.main1 img{
    margin-left:-93%;
    margin-top:-2%;
}
.main1 p{

    margin-left: -35%;
    margin-top: -12%;
}
.t4 img {
    width: 230px;
    height: 15px;
    margin-top: 5px;
    margin-right:-230px;
}
.t4 p{
    font-size: 16px;
    margin-left: 252px;
    margin-top:-24px;
}
.t5 img{
    width: 130px;
    height: 15px;
    margin-top: 5px;
    margin-right:-150px;
}
.t5 p{
    font-size: 16px;
    color:#00ecfc;
    margin-left:58px;
    margin-top:-23px;

}
#er{
    position: absolute;
    top: 50%;
    left: 9%;
}
#san{
    position: absolute;
    top: 64%;
    left: 9%;
}
.pp{
    font-size:12px;
    position: absolute;
    top:76%;
    left:10%;
    width:300px;
}
