
.jiti img{
    width: 100%;

}
.jiti {
    margin-top: 1%;
    width: 100%;
    height: 155px;
    background:#e6e6e6;

}
.jiti p{
    font-size: 5vw;
}

.quan{
    width: 100%;
    height:320px;

}
.enen{

    width: 50%;
    float: left;
    margin-left: 9px;
    margin-right: -13px;
    margin-top: 10px;
}
.quan img{
    width: 90%;
}
.quan p{
    font-size:5vw;
    margin-left:6%;
}
span{
    margin-left:6%;
   font-size:3vw;
}
